<style>
    .item {
        font-size: 25px;
    }
    .unit {
        text-align: center;
    }
</style>

<div class="row">
    <div class="unit col-sm-3">
        <div
            class="item hover-underline-animation"
            onclick="$('.panel').not('#about').slideUp(500);$('#about.panel').slideToggle(500);$('.icon').css('color', '#FFF');$('.about.icon').css('color', '#50c878')"
        >
            About <i class="about icon bi bi-lightbulb-fill"></i>
        </div>
    </div>
    <div class="unit col-sm-3">
        <div
            class="item hover-underline-animation"
            onclick="$('.panel').not('#services').slideUp(500);$('#services.panel').slideToggle(500);$('.icon').css('color', '#FFF');$('.services.icon').css('color', '#50c878')"
        >
            Services <i class="services icon bi bi-tools"></i>
        </div>
    </div>
    <div class="unit col-sm-3">
        <div
            class="item hover-underline-animation"
            onclick="$('.panel').not('#people').slideUp(500);$('#people.panel').slideToggle(500);$('.icon').css('color', '#FFF');$('.people.icon').css('color', '#50c878')"
        >
            People <i class="people icon bi bi-people-fill"></i>
        </div>
    </div>
    <div class="unit col-sm-3">
        <div
            class="item hover-underline-animation"
            onclick="$('.panel').not('#contact').slideUp(500);$('#contact.panel').slideToggle(500);$('.icon').css('color', '#FFF');$('.contact.icon').css('color', '#50c878')"
        >
            Contact <i class="contact icon bi bi-envelope-open-fill"></i>
        </div>
    </div>
</div>
