<style>
    .about-icon {
        font-size: 100px;
    }
</style>

<div class="row">
    <div class="profile col-sm-2"></div>
    <div class="profile col-sm-8">
        <i class="about-icon bi bi-device-hdd"></i>
        <p></p>
        <hr />
        <h4 class="hover-underline-animation">Databound Limited</h4>
        <p></p>
        <div class="bio">
            <p>
                Databound was born out of a shared passion for data science and
                the ability to use it to solve problems.
            </p>
            <p>
                We are a team of data scientists and data engineers who are
                passionate about building data-driven products that are
                intuitive, easy to use, and easy to understand.
            </p>
            <p>In the information age we are able to use data to optimise...</p>
        </div>
    </div>
    <div class="profile col-sm-2"></div>
</div>
