<style>
    .about-icon {
        font-size: 100px;
    }
</style>

<div class="row">
    <div class="profile col-sm-2"></div>
    <div class="profile col-sm-8">
        <i class="about-icon bi bi-device-hdd"></i>
        <p></p>
        <hr />
        <h4 class="hover-underline-animation">Databound Limited</h4>
        <p></p>
        <div class="bio">
            <p>
                Databound was born out of a shared passion for data science and
                solving problems.
            </p>
            <p>
                We are a team of scientists and engineers who are passionate
                about building data-driven products that are intuitive, easy to
                use, and easy to understand.
            </p>
        </div>
    </div>
    <div class="profile col-sm-2"></div>
</div>
