<style>
    .profile {
        text-align: center;
    }

    .headshot {
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }

    .bio {
        text-align: left;
    }
</style>

<div class="row">
    <div class="profile col-sm-3">
        <img class="headshot" src="/static/resources/images/joe.jpg"></img>
        <p></p>
        <p style="text-align: center">CEO</p>
        <hr />
        <h4 class="hover-underline-animation">Joe Babbage</h4>
        <p></p>
        <div class="bio">
            <p>Joe works on the administrative side of things, helping co-ordinate our projects and communications, whilst focussing on our marketing plan and talking to newer clients.</p>
            <p>He's always keen to get to know you better, and answer any questions you may have! </p>
        </div>
    </div>
    <div class="profile col-sm-3">
        <img class="headshot" src="/static/resources/images/alex.jpg"></img>
        <p></p>
        <p style="text-align: center">Lead Scientist</p>
        <hr />
        <h4 class="hover-underline-animation">Dr Alex Cornean</h4>
        <p></p>
        <div class="bio">
            <p>Alex has a PhD in biological research and ensures that what we produce is of the highest standards and meets our client's expectations.</p>
            <p>He is passionate about enabling others by producing educational material.</p>
        </div>
    </div>
    <div class="profile col-sm-3">
        <img class="headshot" src="/static/resources/images/freddy.jpeg"></img>
        <p></p>
        <p style="text-align: center">Lead Engineer</p>
        <hr />
        <h4 class="hover-underline-animation">Dr Freddy Wordingham</h4>
        <p></p>
        <div class="bio">
            <p>Freddy has a PhD in computational biophysics and develops our software stack frameworks.</p>
            <p>He is passionate about the power of software - in particular numerical simulations.</p>
        </div>
    </div>
    <div class="profile col-sm-3">
        <img class="headshot" src="/static/resources/images/luke.jpeg"></img>
        <p></p>
        <p style="text-align: center">Lead Cloud Engineer</p>
        <hr />
        <h4 class="hover-underline-animation">Luke Chrimes</h4>
        <p></p>
        <div class="bio">
            <p>Luke is an experienced member of our team who is constantly looking for novel ways to improve our services.</p>
            <p>With extensive experience within the cloud.</p>
            <p>We are able to provide innovative solutions and help our partners to reduce costs and scale their applications to meet their customer requirements.</p>
        </div>
    </div>
</div>
