<style>
    .service-icon {
        font-size: 100px;
    }
</style>

<div class="row">
    <div class="profile col-sm-4">
        <i class="service-icon bi bi-alarm"></i>
        <p></p>
        <hr />
        <h4 class="hover-underline-animation">Consulting</h4>
        <p></p>
        <div class="bio">
            <p>
                Looking to innovate by exploring your data or looking to mirgate
                to the cloud?
            </p>
            <p>
                Why not do it with professional support and guidance, to ensure
                success. We have experts in cloud, data governance and
                engineering to support any requirement.
            </p>
        </div>
    </div>
    <div class="profile col-sm-4">
        <i class="service-icon bi bi-window-sidebar"></i>
        <p></p>
        <hr />
        <h4 class="hover-underline-animation">App Development</h4>
        <p></p>
        <div class="bio">
            <p>
                Sometimes that piece of software or process just doesn't quite
                fit the bill.
            </p>
            <p>
                We can provide that level of customisation you are looking for,
                with bespoke dashboards that automate your work, integrating
                with the services you love, and making them perfectly fit your
                business.
            </p>
        </div>
    </div>
    <div class="profile col-sm-4">
        <i class="service-icon bi bi-cloud-sun"></i>
        <p></p>
        <hr />
        <h4 class="hover-underline-animation">Cloud Specialists</h4>
        <p></p>
        <div class="bio">
            <p>The future is cloud, and we are the ones to make it happen.</p>
            <p>
                Managing local machines (and paying for an admin to do it) is
                expensive and time consuming. We can help you set up and manage
                your cloud infrastructure, and provide you with the tools to
                manage your data.
            </p>
        </div>
    </div>
</div>
