{% extends "base.html" %} {% block content %}

<div style="border-radius: 25px; backdrop-filter: blur(10px)">
    <div style="text-align: center">
        <h1
            class="hover-underline-animation"
            style="font-size: 12vw"
            onclick="$('.panel').slideUp(500);$('.icon').css('color', '#FFF')"
        >
            {% include "components/logo.html" %}
        </h1>
    </div>
    <div id="navbar" style="margin-bottom: 100px">
        {% include "components/navbar.html" %}
    </div>
    <div id="about" class="panel">{% include "panel/about.html" %}</div>
    <div id="services" class="panel">{% include "panel/services.html" %}</div>
    <div id="people" class="panel">{% include "panel/people.html" %}</div>
    <div id="contact" class="panel">{% include "panel/contact.html" %}</div>
</div>

{% endblock %}
