<!DOCTYPE html>
<html>
    <head>
        <title>Databound</title>
        <link
            rel="shortcut icon"
            type="image/jpg"
            href="/static/icons/databound_favicon.ico"
        />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="/static/libraries/bootstrap-dist/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="/static/libraries/bootstrap-icons/bootstrap-icons.css"
        />
        <link rel="stylesheet" href="/static/styles/base.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <script src="/static/libraries/jquery-3.6.0.min.js"></script>
        <script src="/static/libraries/bootstrap-dist/js/bootstrap.min.js"></script>
        <script src="/static/libraries/bootstrap-dist/js/bootstrap.min.js"></script>
        <script src="/static/libraries/chart-js/chart.js"></script>
        <script src="/static/libraries/particles/particles.min.js"></script>
        <script src="/static/client.js"></script>
    </head>
    <body>
        <div
            id="wrapper"
            class="d-flex align-items-center justify-content-center"
            style="height: 100vh; display: none"
        >
            {% block content %} {% endblock %}
        </div>
    </body>
</html>

<script>
    $(document).ready(function () {
        $("#wrapper").fadeIn(500);
    });
</script>
